<h1>{{title}}</h1>

      
<div class="row">
  <div class="col-md-3">
    <button *ngIf="test" [routerLink]="['/admin/stages/addStage']"  class="btn btn-sm btn-primary">
      Add Stage
    </button>
  </div>
  <div class="col-md-3">
    <label for="searchCategory">Category </label>
    <select [formControl]="searchCategory" id="searchCategory"  class="form-control" style="border: 1px solid blue;">
      <option value="dateDebutStage" selected>Start Date</option>
      <option value="dateFinStage">End Date</option>
      <option value="typeStage">Stage Type</option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="searchValue"><i class="icon-search"></i> Search </label>
    <input *ngIf="searchCategory.value=='dateDebutStage'" type="date" id="searchValue" [formControl]="searchValue"  class="form-control">
    <input *ngIf="searchCategory.value=='dateFinStage'" type="date" id="searchValue" [formControl]="searchValue"  class="form-control">
    <select *ngIf="searchCategory.value=='typeStage'" id="searchValue" [formControl]="searchValue" class="form-control">
      <option value="StageEte" selected>Stage Ete</option>
      <option value="StageImmersion">Stage Immersion</option>
      <option value="PFE">PFE</option>
    </select>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Type</th>
        <th>Resume</th>
        <th *ngIf="test">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr  *ngFor="let stage of listStage
        | searchStage: [searchValue.value] : [searchCategory.value]
        | paginate : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
        let i = index">
        <td>{{stage.dateDebutStage}}</td>
        <td>{{stage.dateFinStage}}</td>
        <td [ngStyle]="{'color': stage.StageEte === 'IA'  ? 'green' : stage.StageImmersion === 'SECURITE' ? 'blue' : 'red'}" >{{stage.typeStage}}</td>
        <td>{{stage.resumeStage}}</td>
        <td *ngIf="test">
          <button [routerLink]="['/admin/stages/details',stage.idStage]"  class="btn btn-sm btn-primary">
            Details
          </button>
          <a [routerLink]="['/admin/stages/assignToEtudiant',stage.idStage]">Assign to student</a>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
<br>
