<div class="card">
    <div class="card-body">
        <h4 class="card-title">Departements</h4>
        <div style="float: right;">
            <input type="text" class="form-control" placeholder="&#61442; Search Here" title="Search here"
                [(ngModel)]="search">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div [ngClass]="{'fade-out-alert':test==true}" class="alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="height: 20px; color: #34B1AA;"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Student assigned to departement with Success !</strong>
            <button (click)="removeSuccessAlertMsg()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <p class="card-description">
            List of departements
        </p>
        <div class="table-responsive">
            <form #f="ngForm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of list | filter: search">
                            <td>{{ d.idDepartement }} <input disabled type="hidden" [(ngModel)]="d.idDepartement"
                                    name="departement-{{d.idDepartement}}" #i="ngModel"></td>
                            <td>{{ d.nomDepart }} <input disabled type="hidden" [(ngModel)]="d.nomDepart"
                                    name="departement-{{d.nomDepart}}" #n="ngModel"></td>
                            <td>
                                <button class="btn btn-sm btn-outline-success"
                                    (click)="assignToDepartement(d)">Assign</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>