<div class="card mx-auto" style="width: 50em;">
    <div class="card-body">
        <h4 class="card-title">{{action}}</h4>
        <p class="card-description">
            {{action}} a course
        </p>
        <form class="forms-sample" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label>Course Code</label>
                <input class="form-control" [(ngModel)]="cours.codeCour" type="text" formControlName="codeCour">
                &nbsp;
                <div [ngClass]="{'fade-out-alert':test==true}" class="alert alert-danger" *ngIf="form.controls['codeCour'].invalid && form.controls['codeCour'].touched">
                    <button (click)="removeAlertMsg()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
                    <p *ngIf="form.controls['codeCour'].hasError('required')">
                        Course Code is required !
                    </p>
                    <p *ngIf="form.controls['codeCour'].hasError('min')">
                        Minimum 3 numbers in Course Code !
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Course Title</label>
                <input class="form-control" [(ngModel)]="cours.intituleCour" type="text" formControlName="intituleCour">
                &nbsp;
                <div [ngClass]="{'fade-out-alert':test==true}" class="alert alert-danger" *ngIf="form.controls['intituleCour'].invalid  && form.controls['intituleCour'].touched">
                    <button (click)="removeAlertMsg()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
                    <p *ngIf="form.controls['intituleCour'].hasError('required')">
                        Course Title is required !
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Course Type</label>
                <select class="form-control" [(ngModel)]="cours.typeCour" formControlName="typeCour">
                    <option value="COURSDUJOUR" selected>COURSDUJOUR</option>
                    <option value="COURSDUSOIR">COURSDUSOIR</option>
                    <option value="ALTERNANCE">ALTERNANCE</option>
                </select>
                &nbsp;
                <div [ngClass]="{'fade-out-alert':test==true}" class="alert alert-danger" *ngIf="form.controls['typeCour'].invalid   && form.controls['typeCour'].touched">
                    <button (click)="removeAlertMsg()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
                    <p *ngIf="form.controls['typeCour'].hasError('required')">
                        Course Type is required !
                    </p>
                </div>
            </div>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary me-2">{{action}}</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>