<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a  routerLink="list" class="nav-link align-middle px-0" >
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">All Universities</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  routerLink="form" class="nav-link align-middle px-0" >
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">New University</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>