<div class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:10px; border-radius: 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);">
    <div class="container-fluid">
      <!-- <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="navbar-collapse  justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav" style="font-size: 16px;">
          <li class="nav-item"><a routerLink="list" class="nav-link">All Universities</a></li>
          <li class="nav-item"><a routerLink="cardUniv" class="nav-link">Universities Details</a></li>
          <li class="nav-item"><a routerLink="form" class="nav-link">Add A New University</a></li>
        </ul>
      </div>
    </div>
</div>
<br>
<div class="col py-3">
    <router-outlet></router-outlet>
</div>