<!-- <ul class="nav">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Menu</span>
                    </a>
                </li>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="list" class="nav-link align-middle px-0" data-bs-toggle="collapse" aria-expanded="false" aria-controls="tables">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">All Universities</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="cardUniv" class="nav-link align-middle px-0" data-bs-toggle="collapse" aria-expanded="false" aria-controls="tables">
                            <span class="menu-title">All Universities Details</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="form" class="nav-link align-middle px-0" data-bs-toggle="collapse" aria-expanded="false" aria-controls="tables">
                            <span class="menu-title">Add A New University</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
  </ul> -->


<!-- <div class="sidebar sidebar-offcanvas" id="sidebar"> -->
    <ul class="nav">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">
                                <i class="mdi mdi-grid-large menu-icon"></i>
                                <span class="menu-title">Menu</span>
                            </a>
                        </li>
                        <li class="nav-item nav-category">Show Universities</li>
                        <li class="nav-item">
                            <a routerLink="list" class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                                aria-controls="tables">
                                <i class="menu-icon mdi mdi-table"></i>
                                <span class="menu-title">All Universities</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="cardUniv" class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                                aria-controls="ui-basic">
                                <i class="menu-icon mdi mdi-floor-plan"></i>
                                <span class="menu-title">All Universities Details</span>
                            </a>
                        </li>
                        <li class="nav-item nav-category">Create Universities</li>
                        <li class="nav-item">
                            <a routerLink="form" class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
                                aria-controls="form-elements">
                                <i class="menu-icon mdi mdi-card-text-outline"></i>
                                <span class="menu-title">Add A New University</span>
                            </a>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </div>
            <div class="col py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
</ul>