<div class="col-md-3">
    <div class="card" style="width: 18rem;" [ngClass]="{'new-class':true}">
        <img src="{{univer.imgUniv}}" class="card-img-top" alt="UnivImg">
        <div class="card-body">
            <h5 class="card-title">{{univer.nomUniv}}</h5>
            <p class="card-text">
                Description : {{univer.descriptionUniv}}
            </p>
            <p>
                Creation date : {{univer.dateCreationUniv}}
            </p>
            <p>
                Type : {{univer.typeuniv}}
            </p>
            <button class="btn btn-sm btn-info btn-rounded badge badge-info" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>