<button class="btn btn-primary" [routerLink]="['/admin/equipes/addEquipe']">Add</button>
<div class="row">
    <div style="float: right;">


    </div>
    <div class="table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>idTeam</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th><input type="search" class="form-control" placeholder="Search Here" title="Search here"
                            [(ngModel)]="search"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of list | filter: search "
                    [ngStyle]="{'background-color':  e.niveau === 'EXPERT'  ? '#E8FEE7' : e.niveau=== 'SENIOR' ? '#E7FEFE' : '#D8DFFE'}">

                    <td>{{ e.idEquipe }}</td>
                    <td>{{ e.nomEquipe }}</td>
                    <td>{{ e.niveau }}</td>

                    <td *ngIf="test">
                        <a [routerLink]="['/admin/equipes/UpdateEquipe',e.idEquipe]" class="btn btn-sm btn-warning">
                            update
                        </a>
                        &nbsp;
                        <button class="btn btn-sm btn-danger" (click)="delete(e)">
                            delete
                        </button>
                        &nbsp;
                        <a [routerLink]="['/admin/equipes/assign-projet-to-equipe/',e.idEquipe]"
                            class="btn btn-sm btn-outline-info btn-fw btn-rounded badge badge-info">Assign Projet</a>
                    </td>
                    <td>
                        <a [routerLink]="['/admin/equipes/view-students',e.idEquipe]"
                            class="btn btn-sm btn-outline-info btn-fw btn-rounded badge badge-info">View Students</a>
                            &nbsp;
                        <a [routerLink]="['/admin/equipes/view-projects',e.idEquipe]"
                            class="btn btn-sm btn-outline-info btn-fw btn-rounded badge badge-info">View Projects</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>