<h1>{{title}}</h1>

<div class="row">
  <div class="col-md-8 col-xl-4" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{stage.idStage}}</h5>
        <p class="card-text">
          {{stage.dateDebutStage}}
          <br>
          {{stage.dateFinStage}}
          <br>
          {{stage.typeStage}}
          <br>
          {{stage.resumeStage}}
        </p>
        
        <button   [routerLink]="['/admin/stages/updateStage',stage.idStage]"  class="btn btn-sm btn-warning">
          Modifier
        </button>
        &nbsp;
        <button  (click)="deleteStage(stage)" class="btn btn-sm btn-danger">
          Supprimer
        </button>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
