<div class="row">
    <div class="col-md-3" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{projet.nomprojet}}</h5>
          <p class="card-text">
            Description : {{projet.description}}
            <br>
            Date limite Projet : {{projet.datelimiteProjet}}
            <br>
            Evolution : {{projet.evolution}}
            <br>
            Matiere : {{projet.matiere}}
          </p>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <br>
  