<form class="col-md-6">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name">
</form>
<br>
<h1>List-detail Equipe</h1>
<button class="btn btn-primary" [routerLink]="['/detailequipe/add']">add detail product</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">salle</th>
    <th scope="col">thematique</th>
    <th scope="col" >option</th>
    <th scope="col">edit</th>
    <th scope="col">delete</th>
  </tr>
</thead>
<tbody>
<tr *ngFor="let d of listt | filter:searchText">
<app-detail
[detail]="d"
(notification)="delete($event)"
>
</app-detail>
</tr>
</tbody>
</table>