<a class="btn btn-sm btn-success" routerLink="/admin/cours/form">Add a Course</a>
<div class="col-lg-6 grid-margin stretch-card" style="width: 50em; margin-left: 15%;">
    <div class="card" style="width: 50em;">
      <div class="card-body mx-auto">
          <h2 class="card-title">{{title}}</h2>
          <div class="input-group w-50" style="float: right;">
            <span class="input-group-text" id="basic-addon1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
              </svg>
            </span>
            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search Dynamically" aria-label="Input group example" aria-describedby="basic-addon1">
          </div>
          <br><br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Course Code</th>
                  <th>Course Title</th>
                  <th>Course Type</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngStyle]="{'color': cours.typeCour === 'COURSDUJOUR'  ? '#F65656' : cours.typeCour === 'COURSDUSOIR' ? '#F6B956' : '#34B1AA'}" *ngFor="let cours of listCours | filter:search | paginate: {itemsPerPage: 2, currentPage: p}">
                  <td>{{cours.idCour}}</td>
                  <td>{{cours.codeCour}}</td>
                  <td>{{cours.intituleCour}}</td>
                  <td>{{cours.typeCour}}</td>
                  <td>
                      <button class="btn btn-sm btn-danger btn-rounded badge badge-danger" (click)="deleteCours(cours)">
                          Delete
                      </button>
                      &nbsp;
                      <a [routerLink]="['/admin/cours/update',cours.idCour]" class="btn btn-sm btn-warning btn-rounded badge badge-warning">Update</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <br><br>
    <pagination-controls (pageChange)="p = $event" class="float-right" style="justify-content:right;color: #52CDFF;"></pagination-controls>