<h1>{{title}}</h1>

<div class="row">
  <div class="col-md-8 col-xl-4" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{contrat.idContrat}}</h5>
        <p class="card-text">
          {{contrat.dateDebutContrat}}
          <br>
          {{contrat.dateFinContrat}}
          <br>
          {{contrat.specialite}}
          <br>
          {{contrat.archive}}
          <br>
          {{contrat.montantContrat}}
        </p>
        
        <button   [routerLink]="['/admin/contrats/updateContrat',contrat.idContrat]"  class="btn btn-sm btn-warning">
          Update
        </button>
        &nbsp;
        <button  (click)="deleteContrat(contrat)" class="btn btn-sm btn-danger">
          Delete
        </button>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
