<h1>{{title}}</h1>

<div class="row" >
  
<div class="col-lg-4 grid-margin stretch-card" style="width: 30em; margin: auto;">
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center"> Contract {{contrat.idContrat}}</h5>
        <p class="card-text fw-bold">
          Start Date :&nbsp;{{contrat.dateDebutContrat}}
          <br>
          End  Date  :&nbsp;{{contrat.dateFinContrat}}
          <br>
          Speciality :&nbsp;{{contrat.specialite}}
          <br>
          Archive    :&nbsp;{{contrat.archive}}
          <br>
          Amount     :&nbsp;{{contrat.montantContrat}}
        </p>
        <div class="text-center">
          <button   [routerLink]="['/admin/contrats/updateContrat',contrat.idContrat]"  class="btn btn-sm btn-warning">
            Update
          </button>
          &nbsp;
          <button  (click)="deleteContrat(contrat)" class="btn btn-sm btn-danger">
            Delete
          </button>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
