
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/home">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/student">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/contrats">
                <i class="mdi mdi mdi-account-card-details menu-icon"></i>
                <span class="menu-title" >Contracts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/stages">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title" >Stages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/universite">
                <i class="mdi mdi-city menu-icon"></i>
                <span class="menu-title">Universities</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/cours">
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                <span class="menu-title">Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/departements">
                <i class="mdi mdi-switch menu-icon"></i>
                <span class="menu-title">Departements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/detaildepartements">
                <i class="mdi mdi-switch menu-icon"></i>
                <span class="menu-title">Details Departements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/equipes">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Teams</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/detailequipe">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Details Teams</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/projets">
                <i class="mdi mdi-calendar-multiple menu-icon"></i>
                <span class="menu-title">Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/admin/clubs">
                <i class="mdi mdi-headset menu-icon"></i>
                <span class="menu-title">Clubs</span>
            </a>
        </li>

    </ul>
</nav>
