<div class="card">
    <div class="card-body">
        <h4 class="card-title">Students</h4>
        <div style="float: right;">
            <input type="text" class="form-control" placeholder="&#61442; Search Here" title="Search here"
                [(ngModel)]="search">
        </div>
        <p class="card-description">
            List of students
        </p>
        <div class="table-responsive">
            <form #f="ngForm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date de naissance</th>
                            <th>Option</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of etudiants | filter:search">
                            <td>{{ e.idEtudiant }}</td>
                            <td>{{ e.nomE }}</td>
                            <td>{{ e.prenomE }}</td>
                            <td>{{ e.dateNaissance }}</td>
                            <td>{{ e.op }}</td>
                            <td>
                                <button class="btn btn-sm btn-outline-success"
                                    (click)="affectStagetoEtudiant(e.idEtudiant)">Assign
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>