<div class="card">
    <br>
    <h3 class="card-title" style="text-align:center;">Assign University To Course</h3>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
    </svg>
    <div *ngIf="test==true" class="alert alert-success alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="height: 20px; color: #34B1AA;"><use xlink:href="#check-circle-fill"/></svg>
        <strong>University assigned to course with Success !</strong>
        <button (click)="removeSuccessAlertMsg()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="test==false" class="alert alert-info alert-dismissible fade show" role="alert" style="color: #52CDFF;">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="height: 20px;color: #52CDFF;"><use xlink:href="#info-fill"/></svg>
        <strong>Click on the "Assign" Button please</strong>
    </div>
    <div class="card-body">
        <h2 class="card-title">List of All Courses </h2>
        <div class="table-responsive">
            <form #f="ngForm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of listCour">
                            <td>
                                {{c.idCour}}
                            </td>
                            <td>
                                {{c.codeCour}}
                            </td>
                            <td>
                                {{c.intituleCour}}
                            </td>
                            <td>
                                {{c.typeCour}}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-success"
                                    (click)="assingUnivDep(c)">Assign</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>