<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/user">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/student">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/contrats">
                <i class="mdi mdi mdi-account-card-details menu-icon"></i>
                <span class="menu-title">Contracts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/universite">
                <i class="mdi mdi-city menu-icon"></i>
                <span class="menu-title">Universities</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/equipes">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Teams</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/stages">
                <i class="mdi mdi-airplay menu-icon"></i>
                <span class="menu-title" >Stages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/projets">
                <i class="mdi mdi-calendar-multiple menu-icon"></i>
                <span class="menu-title">Projects</span>
            </a>
        </li>

    </ul>
</nav>