<div class="row">
    <div class="col-md-3" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{equipe.idEquipe}}</h5>
        <p class="card-text">
          Nom Equipe: {{equipe.nomEquipe}}
          <br>
          Niveau Equipe : {{equipe.niveau}}
          <br>
          <button (click)="notifyParent()" type="button" class="btn btn-outline-secondary btn-rounded btn-icon" style="float:right;">
            <i class="ti-heart text-danger"></i> <br><div style="padding: bottom 15px;">{{equipe.nbrLike}}</div>
          </button>
        </p>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
