<div class="row">
    <div class="col-md-3" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">  
        <p class="card-text fw-bold">
        Start Date :&nbsp;{{contrat.dateDebutContrat}}
        <br>
        End  Date  :&nbsp;{{contrat.dateFinContrat}}
        <br>
        Speciality :&nbsp;{{contrat.specialite}}
        <br>
        Archive    :&nbsp;{{contrat.archive}}
        <br>
        Amount     :&nbsp;{{contrat.montantContrat}}
      </p>
            <button (click)="notifyParent()" type="button" class="btn btn-outline-secondary btn-rounded btn-icon" style="float:right;">
              <i class="ti-heart text-danger"></i> <br><div style="padding: bottom 15px;">{{contrat.nbrLike}}</div>
            </button>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
