<div class="row">
    <div class="col-md-3" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{contrat.idContrat}}</h5>
        <p class="card-text">
          Date debut : {{contrat.dateDebutContrat}}
          <br>
          Date fin : {{contrat.dateFinContrat}}
          <br>
          Specialite : {{contrat.specialite}}
          <br>
          Archive : {{contrat.archive}}
          <br>
          Montant : {{contrat.montantContrat}}
        </p>
            <button (click)="notifyParent()" type="button" class="btn btn-outline-secondary btn-rounded btn-icon" style="float:right;">
              <i class="ti-heart text-danger"></i> <br><div style="padding: bottom 15px;">{{contrat.nbrLike}}</div>
            </button>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
