<div class="card mx-auto" style="width: 50em;">
    <div class="card-body">
        <h4 class="card-title">{{action}}</h4>
        <p class="card-description">
            {{action}} a club
        </p>
        <form class="forms-sample" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="nomClub">name club</label>
                <input class="form-control" [(ngModel)]="club.nomClub" type="text" formControlName="nomClub">
                &nbsp;
                <div class="alert alert-danger"
                    *ngIf="form.controls['nomClub'].invalid && form.controls['nomClub'].touched">
                    <p *ngIf="form.controls['nomClub'].hasError('required')">
                        name of club is required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname">Description</label>
                <input class="form-control" [(ngModel)]="club.description" type="text" formControlName="description">
                &nbsp;
                <div class="alert alert-danger"
                    *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
                    <p *ngIf="form.controls['description'].hasError('required')">
                        description is required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Creation</label>
                <input class="form-control" [(ngModel)]="club.dateDeCreation" type="date"
                    formControlName="dateDeCreation">
                &nbsp;
                <div class="alert alert-danger" *ngIf="form.controls['dateDeCreation']">
                    <p *ngIf="form.controls['dateDeCreation'].hasError('required')">
                        Date of Creation is required
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Picture</label>
                <input class="form-control" [(ngModel)]="club.image" type="text" formControlName="image">
                &nbsp;
                <div class="alert alert-danger"
                    *ngIf="form.controls['image'].invalid && form.controls['image'].touched">
                    <p *ngIf="form.controls['image'].hasError('required')">
                        Picture is required
                    </p>
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid" class="btn btn-primary me-2">Confirm</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>