<div class="col-lg-4 grid-margin stretch-card" style="width: 30em; margin: auto;">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title text-center">
            {{action}} Team
        </h4>
        
        <form [formGroup]="form" (ngSubmit)="SaveEquipe()" class="forms-sample">
            
            <div class="form-group">
                <label>Name</label>
                <input [(ngModel)]="equipe.nomEquipe" type="text" formControlName="nomEquipe" class="form-control">
                <div class="alert alert-danger" *ngIf="form.controls['nomEquipe'].touched && form.controls['nomEquipe'].invalid">
                    <p *ngIf="form.controls['nomEquipe'].hasError('required')">
                        Name is required
                    </p>
                    <p *ngIf="form.controls['nomEquipe'].hasError('pattern')">
                        Error pattern
                    </p>
                </div>
            </div>
            <div class="form-group">
                
                <label>Level</label>
                <select [(ngModel)]="equipe.niveau" formControlName="niveau" class="form-control">
                    <option value="JUNIOR" selected>JUNIOR</option>
                    <option value="SENIOR">SENIOR</option>
                    <option value="EXPERT" >EXPERT</option>
                </select>
                <div class="alert alert-danger" *ngIf="form.controls['niveau'].touched && form.controls['niveau'].invalid">
                    <p *ngIf="form.controls['niveau'].hasError('required')">
                        Level is required
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-success  me-2" [disabled]="form.invalid">
                    {{action}}
                </button>
                <button *ngIf="action == 'Add'" type="reset" class="btn btn-sm btn-success  me-2" >
                    Cancel
                </button>
            </div>
        </form>
    </div>
<br>

