<p>list-etudiant works!</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance</th>
            <th>Option</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of etudiants">
            <td>{{ e.idEtudiant }}</td>
            <td>{{ e.nomE }}</td>
            <td>{{ e.prenomE }}</td>
            <td>{{ e.dateDebut }}</td>
            <td>{{ e.op }}</td>
            <td>
                <button class="btn btn-sm btn-danger"
                (click)="delete(e)">
                  delete
                </button>
                &nbsp;
                <a [routerLink]="['/etudiant/update',e.idEtudiant]" class="btn btn-sm btn-warning">
                  update
                </a>
            </td>
        </tr>
    </tbody>

</table>
