<h1>{{title}}</h1>

        
<button   [routerLink]="['/contrats/addContrat']"  class="btn btn-sm btn-primary">
  Add Contrat
</button>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Specialite</th>
        <th>Archive</th>
        <th>Montant</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let contrat of listContrat">
        <td>{{contrat.dateDebutContrat}}</td>
        <td>{{contrat.dateFinContrat}}</td>
        <td>{{contrat.specialite}}</td>
        <td>{{contrat.archive}}</td>
        <td>{{contrat.montantContrat}}</td>
        <td>
          <button   [routerLink]="['/contrats/details',contrat.idContrat]"  class="btn btn-sm btn-primary">
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
