<h1>{{title}}</h1>

<div class="row">
  <div class="col-md-8 col-xl-4" *ngFor="let contrat of list">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{contrat.idContrat}}</h5>
        <p class="card-text">
          {{contrat.dateDebutContrat}}
          <br>
          {{contrat.dateFinContrat}}
          <br>
          {{contrat.specialite}}
          <br>
          {{contrat.archive}}
          <br>
          {{contrat.montantContrat}}
        </p>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br>
