<div class="col">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/faces/profile/profile.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ e.prenomE }} {{ e.nomE }}</h5>
          <p class="card-text">
            {{ e.email }}
            <br>
            {{ e.op }}
            <br>
            {{ e.dateNaissance }}
          </p>
          <button (click)="notifyParent()" type="button" class="btn btn-outline-secondary btn-rounded btn-icon" style="float:right;">
            <i class="ti-heart text-danger"></i> <br><div style="padding: bottom 15px;">{{e.nbrLike}}</div>
          </button>
        </div>
      </div>
</div>
